{% extends 'main.html' %}

{% block content %}
<main class="settingsPage profile my-md">
	<div class="container">
		<div class="layout">
			<div class="column column--1of3">
				<div class="card text-center">
					<div class="card__body dev">
						<a class="tag tag--pill tag--main settings__btn" href="{% url 'update-account' %}"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a>
						<img class="avatar avatar--xl dev__avatar" src="{{profile.imageURL}}" />
						<h2 class="dev__name">{{profile.name}}</h2>
						<p class="dev__title">{{profile.short_intro}}</p>
						<p class="dev__location">Based in {{profile.location}}</p>
						<ul class="dev__social">
							{% if profile.social_website %}
							<li>
								<a title="Personal Website" href="{{profile.social_website}}" target="_blank"><i
										class="fa-solid fa-globe"></i></a>
							</li>
							{% endif %}
							{% if profile.social_github %}
							<li>
								<a title="Github" href="{{profile.social_github}}" target="_blank"><i
										class="fa-brands fa-github"></i></a>
							</li>
							{% endif %}
							{% if profile.social_stackoverflow %}
							<li>
								<a title="Stackoverflow" href="{{profile.social_stackoverflow}}" target="_blank"><i
										class="fa-brands fa-stack-overflow"></i></a>
							</li>
							{% endif %}
							{% if profile.social_twitter %}
							<li>
								<a title="Twitter" href="{{profile.social_twitter}}" target="_blank"><i
										class="fa-brands fa-twitter"></i></a>
							</li>
							{% endif %}
							{% if profile.social_linkedin %}
							<li>
								<a title="LinkedIn" href="{{profile.social_linkedin}}" target="_blank"><i
										class="fa-brands fa-linkedin"></i></a>
							</li>
							{% endif %}
							{% if profile.social_youtube %}
							<li>
								<a title="LinkedIn" href="{{profile.social_youtube}}" target="_blank"><i
										class="fa-brands fa-youtube"></i></a>
							</li>
							{% endif %}
							{% if profile.email %}
							<li>
								<a title="Email" href="{{profile.email}}" target="_blank"><i class="fa-solid fa-envelope"></i></a>
							</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
			<div class="column column--2of3">
				<div class="devInfo">
					<h3 class="devInfo__title">About Me</h3>
					<p class="devInfo__about">
						{{profile.bio}}
					</p>
				</div>
				<div class="settings">
					<h3 class="settings__title">Skills</h3>
					<a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'create-skill' %}"><i
							class="fa-solid fa-plus"></i></a>
				</div>

				<table class="settings__table">
					{% for skill in profile.skill_set.all %}
					<tr>
						<td class="settings__tableInfo">
							<h4>{{skill}}</h4>
							{% if skill.description|length > 250 %}
							<p>
								{{skill.description|slice:"250"}}...
							</p>
							{% else %}
							<p>
								{{skill.description}}
							</p>
							{% endif %}
						</td>
						<td class="settings__tableActions">
							<a class="tag tag--pill tag--main settings__btn" href="{% url 'update-skill' skill.id %}"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a>
							<a class="tag tag--pill tag--main settings__btn" href="{% url 'delete-skill' skill.id %}?next=/account"><i
									class="fa-solid fa-delete-left"></i></i></a>
						</td>
					</tr>
					{% endfor %}
				</table>

				<div class="settings">
					<h3 class="settings__title">Projects</h3>
					<a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'create-project' %}"><i
							class="fa-solid fa-plus"></i></a>
				</div>

				<table class="settings__table">
					{% for project in profile.project_set.all %}
					<tr>
						<td class="settings__thumbnail">
							<a href="{% url 'project' project.id %}"><img src="{{project.imageURL}}"
									alt="Project Thumbnail" /></a>
						</td>
						<td class="settings__tableInfo">
							<a href="{% url 'project' project.id %}">{{project.title}}</a>
							{% if project.description|length > 150 %}
							<p>
								{{project.description|slice:"150"}}...
							</p>
							{% else %}
							<p>
								{{project.description}}
							</p>
							{% endif %}
						</td>
						<td class="settings__tableActions">
							<a class="tag tag--pill tag--main settings__btn" href="{% url 'update-project' project.id %}"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a>
							<a class="tag tag--pill tag--main settings__btn"
								href="{% url 'delete-project' project.id %}?next=/account"><i
									class="fa-solid fa-delete-left"></i></i></a>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</main>
{% endblock content %}