{% extends 'main.html' %}

{% block content %}

{% if page == 'register' %}
<form method="POST" action="{% url 'register' %}">
	{% csrf_token %}
	{{form.as_p}}
	<input type="submit" value="Register" />
</form>
<a href="{% url 'login' %}">Already a member?</a>
{% else %}
<form action="{% url 'login' %}" method="POST">
	{% csrf_token %}
	<input type="text" name="username" placeholder="Username" />
	<input type="password" name="password" placeholder="Enter password" />
	<input type="submit" value="Login" />

	<p>Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
</form>
{% endif %}

{% endblock content %}