<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Favicon -->
	<link rel="shortcut icon" href="images/icon.svg" type="image/x-icon" />
	<!-- Icon - IconMonster -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
		integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1 w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- Mumble UI -->
	<link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
	<!-- Dev Search UI -->
	<link rel="stylesheet" href="{% static 'styles/app.css' %}" />

	<title>DevSearch - Connect with Developers!</title>
</head>

<body>
	{% include 'navbar.html' %}
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
			{% endfor %}
	</ul>
	{% endif %}
	{% block content %}
	{% endblock content %}
</body>

</html>